body{
    margin:0;
}

.grid-container{
    display:inline-grid ;
    position:relative;
    grid-template-columns: 1fr 1fr 1fr;
}

.image{
    width: 100%; 
    display:inline-grid;
    border-style: solid;   
    border-color: tomato;
    padding: 4 em;
}

