body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.main{
    display:flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.content{
    min-height: 100vh;
    background-image: url("imgs/bg.jpg");
    background-size: cover;
    background-position:center;
}